<a href="{% url 'portal:logout' %}">Logout</a>
<br>



{% if all %}
    <ul>
    {% for x in all %}
        <li>{{x.username}}
        <a href="{% url 'portal:admin_chat' x.id admin.id%}">Chat</a>
        <a href="{% url 'portal:admin_call' x.id admin.id%}">Call</a>
        {% if allAppointments %}
            {% for y in allAppointments %}
                {% if x == y.client %}
                    {% if y.status == 'booked' %}
                        Appointmented at {{y.slot.display}}
                    {% elif y.status == 'pending' %}
                        Pending appointment request at {{y.slot.display}}
                        
                        <form action="{% url 'portal:acceptRequest' x.id admin.id%}" method="POST">
                            {% csrf_token %}
                             <input type="hidden" value="accept" name="accept_flag">
                            <input type="submit" value="Accept">
                        </form>

                        <form action="{% url 'portal:acceptRequest' x.id admin.id%}" method="POST">
                            {% csrf_token %}
                             <input type="hidden" value="decline" name="accept_flag">
                            <input type="submit" value="Decline">
                        </form>
                    {% else %}
                          No appointment
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            No appointment
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No client</p>
{% endif %}

<h3>Your office hours:</h3>
{% if office_hours %}
    <ul>
    {% for x in office_hours %}
        <li>{{ x.display }}  <a href="#" onClick= "deleteOfficeHours('{{x.id}}'); return false;" >Delete hours</a></li>
    {% endfor %}
    </ul>
{% endif %}

<h3>Add office hours:</h3>

<form action="{% url 'portal:addHOurs' admin.id%}" method="POST">

  {% csrf_token %}
  <div>Start time: <input type="text" id="time1" size="10" value="" name='start_time'/></div>
  <div>End time: <input type="text" id="time2" size="10" value="" name='end_time'/></div>
  
  <input type="submit" value="Submit">
</form>

{% load staticfiles %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
<script src="{% static 'portal/jquery.timePicker.js' %}" ></script>
<script src="{% static 'portal/jquery.timePicker.min.js' %}" ></script>




<script type="text/javascript">
  $("#time1").timePicker({
  startTime: "09.00", // Using string. Can take string or Date object.
  endTime: new Date(0, 0, 0, 17, 0, 0), // Using Date object here.
  show24Hours: false,
  separator: '.',
  step: 30});

  $("#time2").timePicker({
  startTime: "09.00", // Using string. Can take string or Date object.
  endTime: new Date(0, 0, 0, 17, 0, 0), // Using Date object here.
  show24Hours: false,
  separator: '.',
  step: 30});

</script>

<script type="text/javascript">
    function deleteOfficeHours(office_hours_id)
    {
        $.get("/portal/deleteHours/{{admin.id}}/"+office_hours_id+"/", function(data, status)
        {
            data = JSON.parse(data);
            val =data['type'];
            console.log("Data: " + val + "\nStatus: " + status);
            if (val==1)
            {
                location.reload();
            }
        }); 
    }
</script>


<script>
function afterLoad() {

        setInterval(function(){ myFunction(); }, 10000);

}

window.onload=afterLoad();

function myFunction()
{
    $.get("/portal/admin_polling_home/{{admin.id}}/", function(data, status)
        {
            data = JSON.parse(data);
            val =data['type'];
            console.log("Data: " + val + "\nStatus: " + status);
            if (val==1)
            {
                //do nothing
            }
            else if(val==2)
            {
               location.reload();
            }
        }); 
}
</script>
