<!DOCTYPE html>
<html>
<head>
    {% block title %}
      <title>Psychology Portal IIITD</title>
    {% endblock %}

    {% block included_files %}
    
    {% endblock %}

</head>
<body>
  {% block body %}
  <button onclick="goBack()">Back</button>
    <div class="mdl-grid portfolio-max-width">
        <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--2-col-tablet mdl-card mdl-shadow--4dp">
            <div class="mdl-card mdl-shadow--2dp card3 mdl-cell--1-col-tablet">
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">People</h2>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <ul class="demo-list-icon mdl-list">
                      <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">person</i>
                        Bryan Cranston
                    </span>
                      </li>
                      <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">person</i>
                        Aaron Paul
                      </span>
                      </li>
                      <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">person</i>
                        Bob Odenkirk
                      </span>
                      </li>
                    </ul>
                  </div>
                  <div class="mdl-card__actions mdl-card--border">
                    
                  </div>
                  <!-- <div class="mdl-card__menu">
                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                      <i class="material-icons">share</i>
                    </button>
                  </div> -->
                  <div class="buttons">
                        <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                          <i class="material-icons">feedback</i>
                        </a>
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                          <i class="material-icons">videocam</i>
                        </a>
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                          <i class="material-icons">person add</i>
                        </a>
                    </div>    
            </div>
            <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--2-col-tablet">
              <div class="mdl-card__supporting-text">
                    
                    

                    {% if all %}
                    <ul class="demo-list mdl-list">
                     <div id="chat"> 
                      
                          {% for x in all %}
                            {% include "p_chat_userchat.html" with x=x %}
                          {% endfor %}
                      
                      </div>
                      </ul>
                    {% else %}
                        <p>You didn't chat until now</p>
                    {% endif %}
                      
                      


                    
                    

                    
                </div>
                <div class="mdl-card__actions mdl-card--border">
                <!--  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                   Get Started
                 </a> -->
                </div>
                <div class="mdl-card__menu">
                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                    </button>
                </div>
                <div class="mdl-card card2">

                    <div class="mdl-card__supporting-text">

                    
                

                    
                        <form {% if isAdmin %}
                                  action="{% url 'portal:admin_chat' client.id admin.id %}"
                              {% else %}    
                                  action="{% url 'portal:chat' client.id admin.id %}" 
                              {% endif } 
                              method="POST" id="forms">
                          {% csrf_token %}
                          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <textarea id="id_of_textbox" class="mdl-textfield__input" type="text" rows= "3" id="sample5" name="new_msg"></textarea>
                            <label class="mdl-textfield__label" for="sample5">Enter your message</label>
                            </div>

                            <br>
                              <button id="id_of_button" class="mdl-button mdl-button--fab mdl-js-button mdl-js-ripple-effect" type="submit" value="Send"><i class="material-icons">send</i></button>
                        </form>

                    {% endif %}


                    </div>


                    </i></button>   
                </div>  
            </div>
            
    </div>
  }

</div>

    
  {% endblock %}
</body>

</html>



{% block script %}


{% endblock %}