<!DOCTYPE html>
<html lang="en" class="no-js">

{% load staticfiles %}

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Minimal Form Interface</title>
		<meta name="description" content="Minimal Form Interface: Simplistic, single input view form" />
		<meta name="keywords" content="form, minimal, interface, single input, big form, responsive form, transition" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">

		<link rel="stylesheet" type="text/css" href="{% static 'portal/css/feedbacknormalize.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'portal/css/feedbackdemo.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'portal/css/feedbackcomponent.css' %}" />

		<script src="{% static 'portal/js/feedbackmodernizr.custom.js' %}" ></script>

	</head>
	<body>
		<div class="container">
			<section>
				<form id="theForm" class="simform" autocomplete="off">
					<div class="simform-inner">
						<ol class="questions">
							<li>
								<span><label for="q1">What's your favorite movie?</label></span>
								<input id="q1" name="q1" type="text"/>
							</li>
							<li>
								<span><label for="q2">Where do you live?</label></span>
								<input id="q2" name="q2" type="text"/>
							</li>
							<li>
								<span><label for="q3">What time do you got to work?</label></span>
								<input id="q3" name="q3" type="text"/>
							</li>
							<li>
								<span><label for="q4">How do you like your veggies?</label></span>
								<input id="q4" name="q4" type="text"/>
							</li>
							<li>
								<span><label for="q5">What book inspires you?</label></span>
								<input id="q5" name="q5" type="text"/>
							</li>
							<li>
								<span><label for="q6">What's your profession?</label></span>
								<input id="q6" name="q6" type="text"/>
							</li>
						</ol><!-- /questions -->
						<button class="submit" type="submit" >Send answers</button>
						<div class="controls">
							<button class="next"></button>
							<div class="progress"></div>
							<span class="number">
								<span class="number-current"></span>
								<span class="number-total"></span>
							</span>
							<span class="error-message"></span>
						</div><!-- / controls -->
					</div><!-- /simform-inner -->
					<span class="final-message"></span>
				</form><!-- /simform -->			
			</section>
			
		</div><!-- /container -->

		

		<script src="{% static 'portal/js/feedbackclassie.js' %}" ></script>
		<script src="{% static 'portal/js/feedbackstepsForm.js' %}" ></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

		<script>
			var theForm = document.getElementById( 'theForm' );

			new stepsForm( theForm, {
				onSubmit : function( form ) {
					// hide form
					classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );

					/*
					form.submit()
					or
					AJAX request (maybe show loading indicator while we don't have an answer..)
					*/

					// let's just simulate something...
					var messageEl = theForm.querySelector( '.final-message' );
					messageEl.innerHTML = 'Thank you! We\'ll be in touch.';
					classie.addClass( messageEl, 'show' );
					myFunction();
				}
			} );

			function myFunction()
			{
			    var fetch = true;
				var url = '/portal/addFB/{{client.id}}/';
				var a1 = document.getElementById('q1').value;
				var a2 = document.getElementById('q2').value;
				var a3 = document.getElementById('q3').value;
				var a4 = document.getElementById('q4').value;
				var a5 = document.getElementById('q5').value;
				var a6 = document.getElementById('q6').value;
				$.ajax(
				{
				    type : 'post',
				    url : url,
				    dataType : 'json', // expected returned data format.
				    data : 
				    {
				    	'a1':a1,
				    	'a2':a2,
				    	'a3':a3,
				    	'a4':a4,
				    	'a5':a5,
				    	'a6':a6,
				        'fetch' : fetch // You might want to indicate what you're requesting.
				    },
				    success : function(data)
				    {
				        // This happens AFTER the backend has returned an JSON array (or other object type)
				    },
				    complete : function(data)
				    {
				        // do something, not critical.
				    }
				});
			}

		</script>
	</body>
</html>