<!DOCTYPE html>
<html>
	<head>
	    {% block title %}
	        <title>Psychology Portal IIITD</title>
	    {% endblock %}

	    {% block included_files %}
	    
	    {% endblock %}

	</head>

	<body>
		
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" style="margin-top:-15px;">
		    <header class="mdl-layout__header" style="background-color: rgba(255,255,255,0.05);">
		        <div class="mdl-layout__header-row"  style="background-color: rgba(255,255,255,0.05);">
		            <span class="mdl-layout-title">Psychology Portal IIITD</span>
		            <div class="mdl-layout-spacer"></div>
		            <nav class="mdl-navigation mdl-layout--large-screen-only">
		                <form id="form1" action="{% url 'portal:home' %}" method="post">
		                    {% csrf_token %}
		                    <a class="mdl-navigation__link" href="javascript:;" onclick="document.getElementById('form1').submit();">Home</a>
		                    <input type="hidden" name="login_flag" value="redirect" >
		                    <input type="hidden" name="userID" value="{{user.id}}">
		                
		                </form>

		                <form id="form2" action="{% url 'portal:about' user.id %}" method="post">
		                    {% csrf_token %}
		                    <a class="mdl-navigation__link" href="javascript:;" onclick="document.getElementById('form2').submit();">About</a>
		                
		                </form>
		                <!-- <a class="mdl-navigation__link" href="https://mail.google.com/mail/u/0/#inbox"><img src="gplus3.png" alt="login with google" style="width: 25px;"></img></a> -->
		            </nav>
		        </div>
		    </header>
		</div>
		
		{% block body %}

		{% endblock %}
	</body>

</html>



{% block script %}

{% endblock %}

