
  {% extends 'base.html' %}
  {% block included_files %}
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <style>
    .demo-list {
      width: 650px;
    }
    .demo-card-wide.mdl-card {
      width: 750px;
      height: 500px;
      margin: 0 auto;
      margin-top: 50px;
    }
    .demo-card-wide > .mdl-card__title {
      color: #fff;
      height: 176px;
/*    background: url('../assets/demos/welcome_card.jpg') center / cover;
*/  }
    .demo-card-wide > .mdl-card__menu {
      color: #fff;
    }
    .time{
        color: #c0c0c0;
        
    }
    .mdl-textfield {
        width: 650px;

    }
    .mdl-button {
        margin-bottom:0px;
        margin-right: 0px;
    }
    .card2{
        width: 650px;
        height: 100px;
        margin-bottom:0px;

    }
    #forms{
    margin-bottom: 0px;
    }
    .card3{
        margin:0 auto;
        margin-top: 50px;
        height: 500px;
        width: calc(20%);
        margin-right:calc(-10%);
    }
    /*.mdl-card__title{
        height: calc(80% -5)
    }*/
    .buttons{
        margin: 0 auto;
        padding-top: 10px;
        width: 30px;

    }
    .mdl-grid{
        margin-top: 40px;
    }
    </style>
{% endblock %}

{% block body %}
  <button onclick="goBack()">Back</button>
    <div class="mdl-grid portfolio-max-width">
    {% block grid %}    
        <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--2-col-tablet mdl-card mdl-shadow--4dp">
            <div class="mdl-card mdl-shadow--2dp card3 mdl-cell--1-col-tablet">
              {% block card_left %}
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">
                      {% block card_left_title %}
                        People
                      {% endblock %}
                      </h2>

                  </div>
                  <div class="mdl-card__supporting-text">
                    {% block card_left_supporting_text %}
                    <ul class="demo-list-icon mdl-list">

                      {% block card_left_supporting_text_list %}
                      <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">person</i>
                        Bryan Cranston
                    </span>
                      </li>
                      <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">person</i>
                        Aaron Paul
                      </span>
                      </li>
                      <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">person</i>
                        Bob Odenkirk
                      </span>
                      </li>
                      {% endblock %}
                    </ul>
                    {% endblock %}
                  </div>
                  <div class="mdl-card__actions mdl-card--border">
                    
                  </div>
                  <!-- <div class="mdl-card__menu">
                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                      <i class="material-icons">share</i>
                    </button>
                  </div> -->
                  <div class="buttons">
                    {% block card_left_buttons %}
                        <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                          <i class="material-icons">feedback</i>
                        </a>
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                          <i class="material-icons">videocam</i>
                        </a>
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                          <i class="material-icons">person add</i>
                        </a>
                      {% endblock %}
                    </div>    
                {% endblock %}
            </div>

            <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--2-col-tablet">
             {% block card_right %}
              <div class="mdl-card__supporting-text">
                    
                {% block card_right_supporting_text %}    

                    {% if all %}
                    <ul class="demo-list mdl-list">
                     <div id="chat"> 
                      
                          {% for x in all %}
                            {% include "p_chat_userchat.html" with x=x %}
                          {% endfor %}
                      
                      </div>
                      </ul>
                    {% else %}
                        <p>You didn't chat until now</p>
                    {% endif %}
                      
                      

                {% endblock %}    
                    
                    

                    
            </div>

                <div class="mdl-card__actions mdl-card--border">
                <!--  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                   Get Started
                 </a> -->
                </div>

                <div class="mdl-card__menu">
                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                    </button>
                </div>
                <div class="mdl-card card2">
                    {% block card_right_bottom %}    
                    <div class="mdl-card__supporting-text">

                    
                

                    
                        <form {% if isAdmin %}
                                  action="{% url 'portal:admin_chat' client.id admin.id %}"
                              {% else %}    
                                  action="{% url 'portal:chat' client.id admin.id %}" 
                              {% endif %} 
                              method="POST" id="forms">
                          {% csrf_token %}
                          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <textarea id="id_of_textbox" class="mdl-textfield__input" type="text" rows= "3" id="sample5" name="new_msg"></textarea>
                            <label class="mdl-textfield__label" for="sample5">Enter your message</label>
                            </div>

                            <br>
                              <button id="id_of_button" class="mdl-button mdl-button--fab mdl-js-button mdl-js-ripple-effect" type="submit" value="Send"><i class="material-icons">send</i></button>
                        </form>


                    </div>
                    {% endblock %}    
                </div>  
            
             {% endblock %}
            </div>
            
    </div>
    {% endblock %}
</div>

    
  {% endblock %}
</body>

</html>