<li class="mdl-list__item mdl-list__item--three-line">
	<span class="mdl-list__item-primary-content">
	  <i class="material-icons mdl-list__item-avatar">person</i>
	  {% if x.by_admin %}
	  		<span>{{x.admin}}(Admin) <span class="time">{{x.pub_date}}</span></span>
	  {% else %}
	        <span>{{x.client}} <span class="time">{{x.pub_date}}</span></span>
	  {% endif %}
	  <span class="mdl-list__item-text-body">
	     {{ x.text }}
	  </span>
	</span>
	<span class="mdl-list__item-secondary-content">
	  <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
	</span>
</li>
